<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorator="template">
<head>
    <meta charset="utf-8" />
    <title>MobiPhone</title>
</head>
<body>
<div layout:fragment="content">
    <a href="/create/1" th:href="@{/formCreateTelphone}">Create</a>

    <div>
        <!-- <div class="panel panel-primary">
           <div class="panel-heading">Consultation d'un Client</div>
           <div class="panel-body">
               <form th:action="@{/consulterClient}" method="get">
                   <div>
                       <label>Cin Client:</label>
                       <input type="text" name="cin" th:value="${cin}"/>
                       <button type="submit" class="btn btn-primary">Ok</button>
                   </div>
               </form>
           </div>
       </div>-->
        <div class="panel panel-primary" th:if="${telphone}">
            <div class="panel-heading">Informations sur le telephones</div>
            <div class="panel-body">

                <div>
                    <label>quantiteSeuil :</label> <label th:text="${telphone.quantiteSeuil}"></label>
                </div>
                <div>
                    <label>prix :</label> <label th:text="${telphone.prix}"></label>
                </div>
                <div>
                    <label>refrence :</label> <label th:text="${telphone.refrence}"></label>
                </div>
                <div>
                    <label>model :</label> <label th:text="${telphone.model}"></label>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary" th:if="${telphones}">
            <div class="panel-heading">Liste des Telephones</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>quantiteSeuil</th>
                        <th>prix</th>
                        <th>Refrence</th>
                        <th>Model</th>

                    </tr>
                    <tr th:each="o:${telphones}">
                        <td th:text="${o.quantiteSeuil}"></td>
                        <td th:text="${o.prix}"></td>
                        <td th:text="${o.refrence}"></td>
                        <td th:text="${o.model }"></td>

                        <td>
                            <a href="/edit/1" th:href="@{/editTelphone/__${o.idArt}__}">Edit</a>

                            <a href="/delete/1" th:href="@{/deleteTelphone/__${o.idArt}__}">Delete</a>

                        </td>
                    </tr>

                </table>

            </div>
        </div>

    </div>

</div>
</body>
</html>
